.fotos::-webkit-scrollbar {
  height: 5px;
}

.fotos::-webkit-scrollbar-track {
  background: rgb(51, 51, 51);
}

.fotos::-webkit-scrollbar-thumb {
  background-color: #36a9e1;
  border-radius: 20px;
}

@media (max-width: 650px) {
  .capad {
    background-image: url("../../assets/3.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
  }

  .descubrase {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    color: #fff;
    font-family: "josefin";
    margin: 120px 0 20px 0px;
  }

  .textocentro {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    font-family: "josefin";
    color: #fff;
    margin: 0 30px;
  }

  .tituloD {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: "josefin";
    color: #36a9e1;
  }

  /*cards*/
  .cardmae {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: #fff;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 0 0px 250px 0px;
  }

  .imgcard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-family: "josefin";
    color: #36a9e1;
    padding: 10px 0 0 0px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .titulocard {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .textocard {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 651px) {
  .capad {
    background-image: url("../../assets/1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
  }

  .descubrase {
    display: flex;
    justify-content: flex-start;
    opacity: 0.7;
    color: #fff;
    font-family: "josefin";
    margin: 300px 0 20px 50px;
  }

  .textocentro {
    display: flex;
    max-width: 500px;
    font-family: "josefin";
    color: #fff;
    margin: 0 0 0 50px;
  }

  .tituloD {
    margin: 30px 0 30px 50px;
    display: flex;
    justify-content: flex-start;
    font-family: "josefin";
    color: #36a9e1;
  }

  .cardmae {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
  }

  .cards {
    display: flex;
    justify-content: center;
  }

  .card {
    background: #fff;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 0 50px 250px 50px;
  }

  .imgcard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .cardcontent {
    font-weight: bold;
    font-family: "josefin";
    color: #36a9e1;
    padding: 10px 0 0 0px;
    margin-top: 10px;
  }

  .titulocard {
    margin-bottom: 10px;
  }

  .textocard {
    text-align: start;
  }
}
